# Токен бота. Получи у @BotFather: /newbot -> скопируй токен сюда.
TELEGRAM_BOT_TOKEN=

# Если не заполнить — чат, откуда ты напишешь боту "/start", станет чатом для уведомлений автоматически.
# Можно указать вручную (числовой id чата, например 123456789).
ADMIN_CHAT_ID=

# Пароль для страницы просмотра всех записей (/admin)
ADMIN_PASSWORD=мойсекретныйпароль
